# Backend API URLs
# Para docker-compose: http://localhost/api/ventas y http://localhost/api/despachos
# Para desarrollo local con vite: http://localhost:8080/api/v1/ventas y http://localhost:8081/api/v1/despachos
VITE_API_VENTAS_URL=http://localhost/api/ventas
VITE_API_DESPACHOS_URL=http://localhost/api/despachos
